.game {
  display: grid;
  position: relative;
  width: 480px;
  height: 640px;
  margin: 0 auto;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 2fr 8fr 1fr;
  background-color: var(--white);
  grid-template-areas:
    "header mode"
    "rows colors"
    "footer footer";
}

.mode {
  grid-area: mode;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ceal);
  border-bottom: 1px solid var(--white);
  color: var(--white);
}

.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-size: 2.5rem;
  background-color: var(--ceal);
  border-bottom: 1px solid var(--white);
  color: var(--white);
}

.footer {
  grid-area: footer;
  height: 60px;
  display: flex;
  justify-content: space-around;;
  align-items: center;
  background-color: var(--ceal);
  border-top: 1px solid var(--white);
  color: var(--white);
}

.rows {
  grid-area: rows;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  border-right: 2px solid var(--white);
  background-color: var(--ceal);
  color: var(--white);
  padding: 0.75rem;
}

.row {
  display: grid;
  grid-template-columns: 72% 28%;
  gap: 2%;
  height: 48px;
  margin: 6px 0;
  align-items: center;
  justify-content: center;
}

.colors {
  grid-area: colors;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  background: var(--ceal);
  color: var(--white);
  padding: 0.75rem;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 40px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 1px solid var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.guess {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 6px;
}

.hint {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 4px;
}