.colors {
  grid-area: Colors;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: var(--light);
  border-left: 1px solid var(--black);
}

.circle {
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid var(--white);
}

.circle.active {
  border: 3px dashed var(--white);
}

.pointer {
  cursor: pointer;
}