#root {
  padding: 0.5rem;
  text-align: center;
  --black: #06283d;
  --ceal: #256d85;
  --blue: #47b5ff;
  --white: #f0f2f4;
  --light: #dff6ff;
}

body {
  font-family: 'Oxanium', cursive;
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
}

.white { background-color: #fdfdfd; } /* 0 */
.black { background-color: #1a1b1c; } /* 1 */
.blue { background-color: #1890ff; } /* 2 */
.yellow { background-color: #ffcc66; } /* 3 */
.green { background-color: #1da57a; } /* 4 */
.orange { background-color: #f39c12; }/* 5 */
.red { background-color: #f5222d; } /* 6 */
.purple { background-color: #8e44ad; } /* 7 */
.transparent { background-color: rgba(0, 0, 0, 0.15); }